data:
  class: MBHoloDataset
  # name: ""
  params:
    root: /usr/users/sdim/sdim_21/holotrack/data/mb-holonet-dataset-64x64x32-float64-0
    valid_ratio: 0.2
    train_batch_size: 32
    eval_batch_size: 32
    num_workers: 4

seed: 42
epochs: 1000
logdir: /usr/users/sdim/sdim_21/holotrack/logs/mb-holonet
neptune: idris-dhaou/holotrack

model:
  class: MBHoloNet
  params:
    img_rows: 64
    img_cols: 64
    img_depths: 32
    phase_num: 20
    loss_sym_param: 1.0e-4

loss:
  class: BCEWithLogitsLoss

optimizer:
  class: Adam
  params:
    lr: 0.002
    # weight_decay: 1.0e-4
    # TODO: different weight decay for resblock, mu, etc ???

lr_scheduler:
  # class: StepLR
  # params:
  #   step_size: 200
  #   gamma: 0.09
  class: CustomPolynomialLRScheduler
  params:
    max_epochs: 1000
    end_lr: 1e-6
    power: 2.0

metrics:
  - r2_score
  - mae
  - pcc
  - psnr
